@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: rgb(114, 109, 109);
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.logo {
    width: 160px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700px;
}

.btn {
    padding:;
    background-color: #ef6850;
}

.hero {
    background-image: url(https://www.gamersdecide.com/sites/default/files/styles/news_images/public/guardian_headline.jpg);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(54, 34, 34, 0.801);
    z-index: -1;
}

.herogameinfo {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/030/940/370/large/lorenzo-lanfranconi-west-studio-lorenzo-lanfranconi-valorant-1.jpg?1602102081);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.herogameagents {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/025/414/400/large/suke-cb-key-art-327-final1.jpg?1585719646);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.heromaps {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/050/710/554/large/suke-fvyuupkviaanauy.jpg?1655487003);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.heroarsenals {
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/048/686/679/large/suke-episode-4-keyart-4k-4-f1.jpg?1650654264);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.herogamemode {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/038/999/504/large/suke-8.jpg?1624647293);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.herosocials {
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/027/277/239/large/suke-v-launch-mark-offwhite.jpg?1591087944);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.herocontact {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/048/714/530/large/suke-ep2.jpg?1650739247);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}



section {
    padding-top: 120px;
    padding-bottom: 120px;

}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: white;
    padding: 25px;
    transition: all 0.35s ease;
    align-self: normal;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
    align-self: normal;
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}

.gameplay {
    position: relative;
    flex-wrap: wrap;
    z-index: 2;
    overflow: hidden;
    align-self: normal;
}

.gameplay::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


.gameplay:hover .iconbox {
    background-color: #fff;
    color: var(--primary);
}

.gameplay:hover h5,
.gameplay:hover p {
    color: #fff;
}

.gameplay:hover::after {
    opacity: 1;
    top: 0;
}

.col-img {
    background-image: url(https://i.pinimg.com/564x/7e/8e/ba/7e8eba8818971329dd1fdbaa8480b869.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgbrim {
    background-image: url(../images/Agent/brim.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgphoenix {
    background-image: url(../images/Agent/phoenix.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgsage {
    background-image: url(../images/Agent/sage.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgyoru {
    background-image: url(../images/Agent/yoru.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgharbor {
    background-image: url(../images/Agent/harbor.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgastra {
    background-image: url(../images/Agent/astra.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgsova {
    background-image: url(../images/Agent/sova.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgviper {
    background-image: url(../images/Agent/viper.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgcypher {
    background-image: url(../images/Agent/cypher.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgreyna {
    background-image: url(../images/Agent/reyna.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgkilljoy {
    background-image: url(../images/Agent/kj.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgbreach {
    background-image: url(../images/Agent/breach.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgomen {
    background-image: url(../images/Agent/omen.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgjett {
    background-image: url(../images/Agent/jett.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgraze {
    background-image: url(../images/Agent/raze.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgskye {
    background-image: url(../images/Agent/skye.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgkayo {
    background-image: url(../images/Agent/kayo.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgchamber {
    background-image: url(../images/Agent/chamber.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgneon {
    background-image: url(../images/Agent/neon.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgfade {
    background-image: url(../images/Agent/fade.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}


.maps {
    position: relative;
    overflow: hidden;
}

.maps .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 16, 16, 0.801);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.maps img { 
    transition: all 0.4s ease;
}

.maps:hover .overlay {
    opacity: 1;
}

.maps:hover img {
    transform: scale(1.1);
}

.arsenals i {
    font-size: 20px;
    color: var(--primary);
}

.arsenals ul li {
    margin-top: 8px;
}

.socials img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.socials-icons {
    display: flex;
    justify-content: center;
}

.socials-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.socials-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}

form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 20;
    background-color: #fcddd8;
}

.footer-top {
    padding-bottom: 90px;
    padding: 90px;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: #fff;
}

.footer-bottom {
    background-color: #242933;
}





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slowFade {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slowFade .slide img {
    position: absolute;
    min-width: 50%;
    min-height: 50%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: slowFade 32s infinite;
            animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
}
@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}
@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}



