@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.logo {
    width: 160px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700px;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
    background-color: red;
}

.hero {
    background-image: url(https://www.gamersdecide.com/sites/default/files/styles/news_images/public/guardian_headline.jpg);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(54, 34, 34, 0.801);
    z-index: -1;
}

.herogameinfo {
    background-image: url(https://i.pinimg.com/564x/90/c4/8e/90c48e95eb530843183ed42d215943d9.jpg);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.herogameagents {
    background-image: url(https://i.pinimg.com/564x/04/3c/23/043c239fd81c05b2e043bcf1ced75c63.jpg);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.heromaps {
    background-image: url(https://i.pinimg.com/564x/7f/66/5a/7f665aadef13b6687bfbaa97d5733f0c.jpg);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.heroarsenals {
    background-image: url(https://i.pinimg.com/564x/92/dc/84/92dc84d60f9297bd92bdec44234be447.jpg);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.herogamemode {
    background-image: url(https://i.pinimg.com/564x/59/3f/b0/593fb052acf50bf3fd9e9dfd299d97a8.jpg);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.herosocials {
    background-image: url(https://i.pinimg.com/564x/e1/c3/00/e1c30067a345fd0a37bb10ce8ffddb8a.jpg);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}

.herocontact {
    background-image: url(https://i.pinimg.com/564x/a5/bb/3a/a5bb3af74fdaeddbfbe0d9a3a8a1eb23.jpg);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 2;
}



section {
    padding-top: 120px;
    padding-bottom: 120px;

}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: white;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}

.gameplay {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.gameplay::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


.gameplay:hover .iconbox {
    background-color: #fff;
    color: var(--primary);
}

.gameplay:hover h5,
.gameplay:hover p {
    color: #fff;
}

.gameplay:hover::after {
    opacity: 1;
    top: 0;
}

.col-img {
    background-image: url(https://i.pinimg.com/564x/7e/8e/ba/7e8eba8818971329dd1fdbaa8480b869.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgbrim {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/8/81/Brimstone_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202719);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgphoenix {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/9/90/Phoenix_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202811);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgsage {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/7/7e/Sage_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202824);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgyoru {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/1/1e/Yoru_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202841);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgharbor {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/5/5c/Harbor_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20221018133900);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgastra {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/e/e0/Astra_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202708);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgsova {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/c/c5/Sova_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202832);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgviper {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/8/85/Viper_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202837);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgcypher {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/5/55/Cypher_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202731);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgreyna {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/3/36/Reyna_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202820);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgkilljoy {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/8/81/Killjoy_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202751);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgbreach {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/2/24/Breach_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202713);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgomen {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/0/0e/Omen_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202807);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgjett {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/e/e3/Jett_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202742);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgraze {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/6/6f/Raze_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202815);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgskye {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/7/7f/Skye_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202828);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgkayo {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/5/57/KAYO_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202747);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgchamber {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/5/5d/Chamber_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202725);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgneon {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/f/fe/Neon_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202800);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.col-imgfade {
    background-image: url(https://static.wikia.nocookie.net/valorant/images/e/e8/Fade_Artwork_Full.png/revision/latest/scale-to-width-down/1000?cb=20220810202738);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.maps {
    position: relative;
    overflow: hidden;
}

.maps .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 16, 16, 0.801);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.maps img { 
    transition: all 0.4s ease;
}

.maps:hover .overlay {
    opacity: 1;
}

.maps:hover img {
    transform: scale(1.1);
}

.arsenals i {
    font-size: 20px;
    color: var(--primary);
}

.arsenals ul li {
    margin-top: 8px;
}

.socials img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.socials-icons {
    display: flex;
    justify-content: center;
}

.socials-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.socials-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}

form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.02);
}

.footer-top {
    padding-bottom: 90px;
    padding: 90px;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: #fff;
}

.footer-bottom {
    background-color: #242933;
}